$colorborde: rgb(110,110,100);
$colorbordeshadow: rgba(110, 110, 110, 0.5);
$white: rgb(255, 255, 255);
$bgfooter: rgb(39, 39, 39);
$bgblack:rgb(18 , 18, 18);
$gray: rgb(115,115,115);
$textonav:rgb(180, 180, 180);
$copywhite: rgb(245,245,245);
$black: rgb(5,5,5);
$theme_dark: false;
$header_img_gallery: url(../images/imgheader1.jpg);
$header_img_review: url(../images/imgheader2.jpg);
$header_img_about: url(../images/imgheader3.jpg);
$header_img_contact: url(../images/imgheader4.jpg);
$header_img_location: url(../images/imgheader5.jpg);


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /*TEXTOS */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap'); /*TEXTOS */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /*TITULOS DE PAGINAS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap'); /*titulos internos */


body{
    @if $theme_dark == true{
        background-color: $bgblack;
    }
    @else{
        background-color: $white;
    }
}




html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    text-decoration: none ;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.body_index{ /* body del index */
    background-image: url(../images/Tattoo-Fondo.jpg);
    
}

@import "navegation";
@import "footer";


.home{
    display: flex;
    justify-content: center;
    position: static;
    margin-bottom: 5%;

    video{
        object-fit: cover;
        width: 95vw;
        height: 80vh;
        margin: 1% 0% 1% 0%;
        z-index: -1;
        padding:1% 1% 1% 1% ;
        border: 2px solid $colorbordeshadow;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);          
        img{
                                  
            width: 800px;
            z-index: 90;
            transition: all 1s;
            /*&:hover{
                position: absolute;
                
                width: 850px;
                z-index: 9000;
                transition: all 1s;
            }*/
        }
        h3{
            position: relative;
            display: block;
            color: $white;
            font-size: 1.4rem;
            text-decoration: none;
            margin: 40px 0;
            border: 2px solid $white;
            padding: 14px 60px;
            text-transform: uppercase;
            overflow: hidden;
            transition: 1s all ease;
            &::before{
                background: $white;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: -1;
                transition: all 0.6s ease;
                width: 0%;
                height: 100%;
            }
            &:hover{
                color: $black;
                &::before{
                    width: 100%;
                }
            }

        }
     
        
    }
   
}




/*TITULO PRINCIPAL DE TODAS LAS PAGINAS MENOS DEL HOME*/



@mixin header_images($header_img_gallery) {
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        background: rgba(0, 0, 0, 0.7) $header_img_gallery;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
        filter: grayscale(100%);
    }
}

.header_gallery{
    @include header_images($header_img_gallery);
}
.header_location{
    @include header_images($header_img_location);
}
.header_about{
    @include header_images($header_img_about);
}

.header_review{
    @include header_images($header_img_review);
}
.header_contact{
    @include header_images($header_img_contact);
}

.tittle{ 
    padding: 80px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    font-size: 4rem;

}


.header_gallery{

}

/*.header_location{
    @extend .header;
    &::before{
        background: rgba(0, 0, 0, 0.7) url(../images/tatuador1.jpg);
        background-position: center;
        background-size: cover;
    }
    
}*/



/*GALERIA */
.container_grid_gallery{
    display: grid; 
    grid-template-rows: repeat(3,300px); /*defino las filas*/
    grid-template-columns: repeat(3,300px); /*defino las columnas*/
    grid-template-areas:
    "section_0 section_0 section_4"
    "section_2 section_3 section_4"
    "section_1 section_3 section_5"
    ;
    justify-content: center;
    gap: 10px;
    margin: 50px;
    div{
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        a{
            transition: all .5s;
            &:hover{    /*Le agrego un filtro de blanco y negro al hover de las imageres */
                filter: grayscale(1);

            }
        }
    }
 }

#image_0{
    /*Le asigno una grid area a las imagenes*/
   grid-area: section_0;
   
}

#image_1 {
   grid-area: section_1;
}

#image_1 img {
   object-position: bottom;  /*se lo coloco para tener una imagen clara de lo que quiero ver*/
}

#image_2 {
   grid-area: section_2;
}

#image_2 img {
   object-position: bottom;
}

#image_3{
   grid-area: section_3;
}

#image_4{ 
   grid-area: section_4;
}

#image_4 img {
   object-position: left;
}

#image_5{
   grid-area: section_5;
}


.more_insta{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $colorbordeshadow;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.048) 60%, rgb(173, 173, 173) 100%);
    a{
        color: black;
        @if $theme_dark == true {
            color: $white;
        }

    }
    h3{
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        transition: all 2s;
        &:hover{
            font-size: 3rem;
        }
        strong{
            font-family: 'Maven Pro', sans-serif;
        }

    }

}


/*CONTACTOS */



.form_container{ /*defino las propiedades del contenedor de todo el "main" */
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 200px;
    width: 90vw;
    position: relative;
    

}

.form_images{ 
    img{
        &:first-of-type{ /*imagen del formulario, buscar una mejor manera de posicionar los elementos */
            position: absolute;  
            width: 20%;
            left: 25%;
            top: 30px;
            }
    }
    
}

.form_images_2{ /*imagen del formulario, buscar una mejor manera de posicionar los elementos */
    position: absolute;  
    width: 20%;
    left: 12%;
    top: -30px;
}


.form_contacts{ /*defino las propiedades del contenedor del formulario" */
    width: 50%;
    display: flex;
    flex-direction: column;

  
}

#conjunto_form{ /*defino las propiedades del contenedor del mail y el phone" */
    display: flex;
    justify-content: space-between;
}
  
#email_form{ /*defino el ancho del mail" */
      width: 45%;
}

#phone_form{ /*defino el ancho del phone" */
    width: 45%;
}
  

.form_parts{ /*defino el contenedor del text_area" */
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid rgb(81 , 81, 81);
    &::placeholder{
        color: $gray;
    }
    @if $theme_dark == true{
        background-color: $gray;
        &::placeholder{
            color: $white;
        }

    }
}
  
#sumbit_form{ /*propiedades del boton" */
    padding: 12px;
    background-color: $black;
    color: $white;
}





/*RESENAS */

.review{  /*section contenedor" */
    margin-bottom: 70px;
    margin-top: 70px;
}

.review_container{  /* propiedades testimonios contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.review_box{ /* propiedades contenedor */
    width: 500px;
    box-shadow: 2px 2px 15px $colorborde;
    background-color: white;
    padding: 20px;
    margin-bottom: 70px;
    @if $theme_dark == true{
        background-color: $black;
        box-shadow: 2px 2px 15px $white;
    }
}

.box_top{ /* section de la parte superior del testimonio  */
    margin-bottom: 20px;
}

.profile{ /* section del perfil */
    display: flex;
    align-items: center;
}
  
.profile_image{ /* contenedor de la imagen del perfil */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: top;
    }
    
}

.name_user{ /* Nombre de la persona */
    display: flex;
    flex-direction: column;
    strong{
        color: $gray;
        font-size: 1.6rem;
        margin-bottom: 4px;
    }
    span{
        color: $gray;
        font-size: 1.5rem;
    }
}

.comentarios_contenedor p{
    font-size: 1.6rem;
    font-weight: bold;
    @if $theme_dark == true{
        color: $white;
    }

}

#h2_tittle{
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 100px;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    @if $theme_dark == true {
        color: $white;
    }
}

/*ABOUT US */

.info{
    text-align: center;
    width: 70%;
    margin: 0px auto;
    div{
        p{
            font-size: 2rem;
            margin-top: 50px;
            @if $theme_dark == true {
                color: $white;
            }
        }
        h2{
            @extend #h2_tittle;
        }
        img{
            margin-top: 50px;   
        }
    }
}

.info_about_us_image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.images_info{
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}

.image_info_experience{
    
    img{
        margin: 20px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
    p{
        width: 300px;
    }
}

.up{
    img{
        position: fixed;
        bottom: 20px;
        right:  20px;
        width: 100px;
    }
}

/*lOCALIZACION */

.location_travel_container{
    display: grid; 
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
     'section_0 section_1 section_1 section_1 .'
     'section_0 section_1 section_1 section_1 .'
     '. . . . .';
    gap: 50px;
    height: 100%;
    margin: 20px 100px 20px 100px;
    
}

.travel {
    grid-area: section_0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    ul{
       
        padding: 0;
       
        height: 80%;
        li{
            margin: 20px;
            font-size: 2rem; 
            @if $theme_dark == true{
                color: white;
            }
            
        }
    }
}

.location_map_container{
    grid-area: section_1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}

.location{
    div{
        h2{
        @extend #h2_tittle;
        }
    }
}

.location_map{ 
    width: 100%;
}

.material-symbols-outlined{
    font-size: 40px;
}

@import "error404";

@media screen and (max-width: 480px){

    @import "vistamobile";
    
}

@media screen and (min-width: 480px) and (max-width: 992px){ /*VISTA TABLET */

  @import "vistatablet";
}

@media screen and (min-width: 200px) and (max-width: 992px) and (orientation: landscape){

    .nav_menu, .nav_menu_other{ /* PROPIEDADES DEL MENU DESPLEGABLE */
    
        height: 130vh;

    }
    
    .home{
        video{
            margin-top: 90px;
            height: 85vh;
        }
    
        div{
            top: 70%;
            left: 50%;
            img{
                width: 100%;
                
            }
        }
    }
        /*FORMULARIO VISTA TABLET */

    .main_form{
        margin: 20px;
    }
            
    .form_container{ /*defino las propiedades del contenedor de todo el "main" */
        margin-top: 92px;
        margin-bottom: 92px;
        justify-content: center;
        width: 100%;    
        height: 100vh;            
    }
            
    .form_images{ /*imagen del formulario, buscar una mejor manera de posicionar los elementos */
        img{
            display: none;
        }

    }        
               
            
    .form_contacts{ /*defino las propiedades del contenedor del formulario" */
        width: 80%;
        display: flex;
        flex-direction: column;

    }
}
    